<div class="legend">
    <div class="legend-item">
        <h4>Máscara</h4>
    
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/required-mask.png" alt="">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/recommended-mask.png" alt="">
                <p>Recomendado</p>
            </div>
        </div>
    </div>
    <div class="legend-item">
        <h4>Toalha</h4>

        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/required-towel.png" alt="">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/recommended-towel.png" alt="">
                <p>Recomendado</p>
            </div>
        </div>
    </div>
    <div class="legend-item">
        <h4>Bebedouro</h4>

        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/partial-fountain.png" alt="">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/not_allowed-fountain.png" alt="">
                <p>Proibido</p>
            </div>
        </div>
    </div>
    <div class="legend-item">
        <h4>Vestiário</h4>

        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/partial-lockerroom.png" alt="">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/closed-lockerroom.png" alt="">
                <p>Fechado</p>
            </div>
        </div>
    </div>
</div>