header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;

    width: 100%;
}

header .logo-container {
    background: black;
    padding: 24px;
    width: 100%;  

    display: flex;
    align-items: center;
    justify-content: center;
} 

header .logo-container img{
    height: 5rem;
}

header .text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 80%;
    margin: 0 auto;
}

header .text-container h1{
    font-size: 2.1rem;
    color: var(--dark-gray);
}


header .text-container p{
    color: var(--light-gray);
}

header .text-container .heading{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: 1.4rem;
    gap: .9rem;
}

header .text-container .heading .heading-border{
    height: .7rem;
    width: 30%;
    background-color: var(--dark-gray);
}