<form action="" class="form-group" [formGroup]="formGroup">
    <div class="form-icon">
        <div>
            <img src="/assets/images/png/icon-hour.png" alt="">
            <span>Horário</span>
        </div>
        <h3>Qual horário você quer treinar?</h3>
    </div>

    <div class="radio-wrapper">
        <div>
            <input type="radio" name="hour" value="morning" id="" formControlName="hour">
            <label for="morning">Manhã</label>
        </div>
        <span>06:00 ás 12h</span>
    </div>

    <div class="radio-wrapper">
        <div>
            <input type="radio" name="hour" value="afternoon" id="" formControlName="hour">
            <label for="afternoon">Tarde</label>
        </div>
        <span>12:01 ás 18h</span>
    </div>

    <div class="radio-wrapper">
        <div>
            <input type="radio" name="hour" value="night" id="" formControlName="hour">
            <label for="night">Noite</label>
        </div>
        <span>18:01 ás 23h</span>
    </div>

    <div class="checkbox-wrapper">
        <div>
            <input type="checkbox" name="showClosed" id="" formControlName="showClosed">
            <label for="showClosed">Exibir unidades fechadas</label>
        </div>

        <span>Resultados encontrados: {{results.length}}</span>
    </div>

    <div class="button-wrapper">
        <button class="btn btn-primary" (click)="onSubmit()">Encontrar unidade</button>
        <button class="btn btn-secondary" (click)="onCleanUp()">Limpar</button>
    </div>
</form>
