/* You can add global styles to this file, and also import other style files */
:root{
    --dark-gray: #333333;
    --light-gray: #808080;
    --medium-text:#939393;
    --light-text:#dedede;
    --yellow: #FFB612;
    --red: #DC0A17;
    --green: #2FC022;
}

*{
    font-family: 'Gotham';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Gotham';
    src: url('/assets/fonts/Gotham/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/assets/fonts/Gotham/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/assets/fonts/Gotham/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/assets/fonts/Gotham/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}