.cards-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 100%;
    margin: 0 auto;
    
}

li{
    list-style: none;
}

@media (min-width: 768px){
    .cards-list{
        max-width: 80%;
    }
}